html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.middle {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

nav li a {
  color: #b64c6e;
  text-decoration: none;
  border-bottom: 1px solid #b64c6e;
}

nav li a:hover {
  border-color: #860927;
  color: #860927;
}

.btn {
  background-color: #860927;
  border-radius: 4px;
  border-color: #860927;
  border-width: 1px;
  color: #d89fb0;
  display: inline-block;
  text-decoration: none;
}

.btn-ghost {
  color: #b64c6e;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #d89fb0;
  border-color: #860927;
  color: #860927;
}

footer {
  border-top: 1px solid #e2e2e2;
  color: #474747;
}

@media only screen and (min-width: 60em) {

  .header-right {
    text-align: right;
  }

  .header-left {
    text-align: left;
  }

}
